{% extends 'base.html.twig' %}

{% block title %}Supprimer une VM{% endblock %}

{% block body %}

    <div class="container">
        <section class="row justify-text-center">
            <div class="col-md-6 text-center mt-4">

                <h2>Supprimer une VM</h2>
                
                {{ form_start(form, {'attr': {'class': 'd-inline-block mt-4 col-form-label'}}) }}
                {{ form_row(form.nom_vm) }} 
                <button type="submit" class="button" onclick="return confirmDelete();">Supprimer</button>
            </div>
        </section> 
        {{ form_end(form) }}
    </div>

    <script>
        function confirmDelete() {
            return confirm("Êtes-vous sûr de vouloir supprimer cette VM ?");
        }
    </script>
{% endblock %}
