{% extends 'base.html.twig' %}

{% block title %}PLADAPATH - Versions{% endblock %}

{% block body %}
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
        <script>
            $(document).ready(function() {
                // Initially hide all panels
                $(".content-panel").hide();
                $("#v1.1").show(); // You can decide which one you want to show by default

                // When a button in the nav is clicked
                $(".buttons .button").click(function() {
                    var panelID = $(this).data("id");

                    // Hide all panels
                    $(".content-panel").hide();

                    // Show the selected panel
                    $("#" + panelID).show();
                });
            });
        </script>
    {% endblock %}

    <!-- BOUTTONS DE NAVIGATIONS DES VERSIONS -->
    <div class="container mt-5">
        <div class="buttons d-flex justify-content-center nav mb-3">
            <button data-id="1" class="button active">v 1.1</button>
            <button data-id="2" class="button active">v 1.2</button>
            <button data-id="3" class="button active">v 1.3</button>
            <button data-id="4" class="button active">v 1.4</button>
            <button data-id="5" class="button active">v 1.5</button>
            <button data-id="6" class="button active">v 1.6</button>
            <button data-id="7" class="button active">v 1.7</button>
            <button data-id="8" class="button active">v 1.8</button>
            <button data-id="9" class="button active">v 1.9</button>
        </div>
    </div>

    <!-- v1.1 -->
    <div class="container content-panel" id="1">
        <div class="row justify-content-center">
            <div class="scroll-setting">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Ajouté le</th>
                            <th scope="col">Fonctionnalité</th>
                            <th scope="col">Correction de bug</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- v1.2 -->
    <div class="container content-panel" id="2">
        <div class="row justify-content-center">
            <div class="scroll-setting">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Ajouté le</th>
                            <th scope="col">Fonctionnalité</th>
                            <th scope="col">Correction de bug</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- v1.3 -->
    <div class="container content-panel version-panel" id="3">
        <div class="row justify-content-center">
            <div class="scroll-setting">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Ajouté le</th>
                            <th scope="col">Fonctionnalité</th>
                            <th scope="col">Correction de bug</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- v1.4 -->
    <div class="container content-panel version-panel" id="4">
        <div class="row justify-content-center">
            <div class="scroll-setting">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Ajouté le</th>
                            <th scope="col">Fonctionnalité</th>
                            <th scope="col">Correction de bug</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- v1.5 -->
    <div class="container content-panel version-panel" id="5">
        <div class="row justify-content-center">
            <div class="scroll-setting">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Ajouté le</th>
                            <th scope="col">Fonctionnalité</th>
                            <th scope="col">Correction de bug</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- v1.6 -->
    <div class="container content-panel version-panel" id="6">
        <div class="row justify-content-center">
            <div class="scroll-setting">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Ajouté le</th>
                            <th scope="col">Fonctionnalité</th>
                            <th scope="col">Correction de bug</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- v1.7 -->
    <div class="container content-panel version-panel" id="7">
        <div class="row justify-content-center">
            <div class="scroll-setting">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Ajouté le</th>
                            <th scope="col">Fonctionnalité</th>
                            <th scope="col">Correction de bug</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- v1.8 -->
    <div class="container content-panel version-panel" id="8">
        <div class="row justify-content-center">
            <div class="scroll-setting">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Ajouté le</th>
                            <th scope="col">Fonctionnalité</th>
                            <th scope="col">Correction de bug</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- v1.9 -->
    <div class="container content-panel version-panel" id="9">
        <div class="row justify-content-center">
            <div class="scroll-setting">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Ajouté le</th>
                            <th scope="col">Fonctionnalité</th>
                            <th scope="col">Correction de bug</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
