/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    body {
        font-size: 12px; 
    }

    .container-fluid {
        margin: 20px auto; 
    }

    .calendar-container {
        margin-left: 10px; 
    }

    #calendar {
        height: 600px; 
    }

    #options {
        height: 600px; 
    }
}

/* Apply some basic styling to the page */
/* Start */

body, h1, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E0E0E0;
    text-align: center;
}

body.dark-mode {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

body.dark-mode a {
    color: #fff;
    text-decoration: none;
}

/* End */



/* Calendar Container */
/* Start */

.container-fluid {
    margin: 50px auto;
}


.calendar-container {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-left: 20px;
}

#calendar {
    width: auto;
    height: 650px;

}

.event-content {
    font-weight: bold;
    overflow: hidden;
    color: #fff;
}


body.dark-mode #calendar {
    background-color: #3e3e42;
    border: transparent;
}

body.dark-mode #fc-dom-1 {
    color: #fff;
}

body.dark-mode .fc .fc-timeline-slot-cushion {
    color: #fff;
}

body.dark-mode .fc-datagrid-cell-main {
    color: #fff;
}

body.dark-mode .fc-theme-standard .fc-scrollgrid {
    border: #1e1e1e solid 0px;
}

body.dark-mode .fc-theme-standard th {
    border: #1e1e1e solid 1px;
}

body.dark-mode .fc .fc-timeline-slot-minor {
    border-style: dotted;
}

body.dark-mode .fc-theme-standard td {
    border: #1e1e1e solid 1px;
}
/* End */



/* Apply style for ScrollBar */
/* Start */

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0c419a rgb(255, 255, 255);
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #0c419a;
    border: 3px solid rgb(255, 255, 255);
}

body.dark-mode * {
    scrollbar-color: #212121 #B5B5B5;
}

body.dark-mode *::-webkit-scrollbar-thumb {
    background-color: #212121 #B5B5B5!important;
    border: 3px solid rgb(255, 255, 255);
}

body.dark-mode *::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

/* End */

/* Apply style for calendar button */
/* Start */
.fc .fc-button-primary {
    color: #ffffff!important;
    background-color: #0c419a !important;
    border-color: #a8bbbf !important;
    padding: 10px 20px; 
    border-radius: 5px; 
    transition: background-color 0.3s;
  }
  
.fc .fc-button-primary:hover {
    background-color: #073077 !important;

}

body.dark-mode .fc .fc-button-primary {
    color: #fff!important;
    background-color: #1e1e1e !important;
    border-color: #3e3e42 !important;
}

body.dark-mode .fc .fc-button-primary:hover {
    background-color: #2d2d30 !important;
}

.btn-save {
    background-color: #0c419a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}
  
.btn-save:hover {
    background-color: #175ACD;
}
  
body.dark-mode .btn-save {
    background-color: #1e1e1e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}
  
body.dark-mode .btn-save:hover {
    background-color: #3e3e42;
}
/* End */



.popup-content {
    background: #fff;
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.popup-header {
    text-align: center;
}

.popup-messages {
    max-height: 250px;
    overflow-y: scroll;
}

#message-list {
    list-style: none;
    padding: 0;
}
 

.table-bordered {
    border-radius: 10px; 
    overflow: hidden;
    border: transparent;
}

.table-blue-header thead {
    background-color: #0c419a; 
    color: white;           
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.5em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

/* Customize Annonce popup */
/* Start */

.popup-button {
    display: inline-block;
    width: 100px;
    color: #FFF;
    cursor: pointer;
}

#urgentButton {
    background-color: #0131B4;
}

#importantButton {
    background-color: #1560BD;
}

#normalButton {
    background-color: #4169E1;
}

#urgentButton:hover {
    background-color: #0131B4;
    filter: brightness(1.2);
}

#importantButton:hover {
    background-color: #1560BD;
    filter: brightness(1.2);
}

#normalButton:hover {
    background-color: #4169E1;
    filter: brightness(1.2);
}

body.dark-mode #urgentButton {
    background-color: #464646; 
}

body.dark-mode #importantButton {
    background-color: #5C5C5C;
}

body.dark-mode #normalButton {
    background-color: #7A7A7A; 
}

body.dark-mode #urgentButton:hover {
    filter: brightness(1.1);
}

body.dark-mode #importantButton:hover {
    filter: brightness(1.1);
}

body.dark-mode #normalButton:hover {
    filter: brightness(1.1);
}

/* End */

#scenarioBtn {
    background-color: #0131B4;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

#caisseBtn {
    background-color: #1560BD;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

#poolBtn {
    background-color: #4169E1;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

#scenarioBtn:hover {
    filter: brightness(1.1);
}

#caisseBtn:hover {
    filter: brightness(1.1);
}

#poolBtn:hover {
    filter: brightness(1.1);
}

body.dark-mode #scenarioBtn {
    background-color: #464646;
}

body.dark-mode #caisseBtn {
    background-color: #5C5C5C;
}

body.dark-mode #poolBtn {
    background-color: #7A7A7A;
}

body.dark-mode #scenarioBtn:hover {
    filter: brightness(1.1);
}

body.dark-mode #caisseBtn:hover {
    filter: brightness(1.1);
}

body.dark-mode #poolBtn:hover {
    filter: brightness(1.1);
}

.fc-h-event {
    background-color: transparent;
    border: transparent !important;
}

.fc-event.fc-event-draggable {
    color: white;
}

.fc-daygrid-event {
    white-space: inherit;
}

#options {
    max-height: 1000px;
}

#scenarioCheckboxes {
    margin-top: 15px;
}

#caisseExploitCheckboxes,
#poolVmCheckboxes {
    margin-top: 15px;
    display: none;
}

#modalFiltreCaisse {
    background-color: #0c419a;
    color: #FFFFFF;
    font-weight: bold;
}

#modalFiltre {
    background-color: #0c419a;
    color: #FFFFFF;
    font-weight: bold;
    height: 215px;
}

#modalFiltre input[type="checkbox"] {
    float: left;
    margin-left: 90px;
}

#modalFiltre label {
    margin-right: 90px;
}


body.dark-mode #modalFiltreCaisse {
    background-color: #2d2d30;
    font-weight: bold;
}

body.dark-mode #modalFiltre  {
    background-color: #2d2d30;
    font-weight: bold;
}

#footer {
    background-color: #0c419a; 
    color: #FFFFFF;
}

body.dark-mode #footer {
    background-color: #3e3e42;
    color: #FFFFFF;
}

#pladapath {
    color: #0c419a;
}

#pladapath:hover {
    color: #175ACD;
}

body.dark-mode #pladapath {
    color: #fff;
}

body.dark-mode #navbar {
    background-color: #3e3e42 !important;
}

/*  setting CSS */

.panel { display: none; }
.show { display: block; }
.button { text-transform: uppercase; }
.button:hover { cursor: pointer; background-color: #fffff0; }

.button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #0c419a;  /* Couleur bleue de Bootstrap */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #073077;
}

body.dark-mode .button {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #3e3e42;  /* Couleur bleue de Bootstrap */
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

body.dark-mode .button:hover {
  background-color: #5C5C61;
}

*{
    margin:0em;
    padding: 0;

}

.deroulant {
    position: relative;
}

.sous {
    display: none; 
    list-style: none;
    padding: 0;
   
}

.deroulant:hover .sous {
    display: block;
}

.sous li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.sous li a:hover {
    background-color: #0c419a;
    color: white;
}

.scroll-setting {
  overflow-y: auto;
  max-height: 400px; 
}

.scroll {
  overflow-y: auto; 
  min-height: 120px;
  max-height: 120px; 
  scrollbar-color: transparent transparent !important;
}

.scroll a:hover {
    color: #77D9EC !important; 
}

body.dark-mode .scroll a:hover {
    color: #B5B5B5 !important; 
} 
  
  
/* Modal Styles */
.modal-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  position: relative;
  width: 70%;
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 600px; /* Ajustez la hauteur maximale selon vos besoins */
  overflow-y: auto; /* Permet d'afficher une barre de défilement si nécessaire */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #555;
}

h2 {
color: black;
  margin: 0 0 20px;
  font-size: 24px;
}

body.dark-mode h2 {
    color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

label {
    color: black;
    font-weight: bold;
    margin-bottom: 1px;
}

body.dark-mode label {
    color: #fff;
}

select {
  max-height: 100px;
  overflow-y: auto; 
}

.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

#duplicateScenarioModal .modal-content {
    border-radius: 10px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
}

#duplicateScenarioModal .modal-header, 
#duplicateScenarioModal .modal-footer {
    background-color: #0c419a; 
    color: white; 
}

#duplicateScenarioModal .btn-close {
    background-color: white; 
    border-radius: 50%; /* Makes it circular */
    color: #0c419a;
    opacity: 1;
}

#duplicateScenarioModal .modal-body {
    padding: 20px; 
    font-size: 18px; 
    line-height: 1; 
}

/* input style */
input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type=checkbox] {
    margin-right: 10px;
    border-radius: 5px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 2px solid #80C4FF;
}

input[type="checkbox"]:checked {
    background: #80C4FF;
    margin-right: 10px;
    position: relative;
}

input[type="checkbox"]:disabled {
    background: #B5B5B5;
    margin-right: 10px;
    border: none;
    position: relative;
}

body.dark-mode input[type="checkbox"]:disabled {
    background: #B5B5B5;
    margin-right: 10px;
    border: none;
    position: relative;
}

body.dark-mode input[type=checkbox] {
    margin-right: 10px;
    border-radius: 5px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 2px solid black;
}

body.dark-mode input[type=checkbox]:checked {
    background: black;
    margin-right: 10px;
    position: relative;
}


input[type="text"] {
  width: 25%; 
  margin: 0 auto; 
  padding: 5px; 
  margin-bottom: 10px;
  border: 2px solid #0c419a;;
  border-radius: 5px;
}

body.dark-mode input[type="text"] {
    border: 2px solid #B5B5B5;;
}

#recherche {
    width: 45%; 
    margin: 0 auto; 
    padding: 5px; 
    margin-bottom: 10px;
}

/* end input style */

#reserch {
    width: 50%; 
}

h4 {
    color: black;
}

.table th {
    background-color: #0c419a;
    color: #fff;
}

body.dark-mode .table  {
    border: transparent;
}

body.dark-mode .table th {
    background-color: #2d2d30;
    border: transparent;
}

body.dark-mode .table td {
    background-color: #B5B5B5;
}

body.dark-mode h4 {
    color: #fff;
}

#title h4 {
    color: black;
}

body.dark-mode #contactBtn {
    background-color: #3e3e42;
}

body.dark-mode #contactBtn:hover {
    filter: brightness(1.1);
}

#contactTitle, #contactLabel, #contactForm {
    color: black;
}

body.dark-mode #contactTitle, #contactForm  {
    color: #fff;
}

#modalFiltreCaisseExploit label, #modalFiltre label {
    color: #fff;
}

#myModal h2, #editModal h2, #errorModal h2, #clotureModal h2, #editModal label, #traitment-form label{
    color: black;
}

#versionBtn {
    position: fixed;
    bottom: 10px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: transparent;
    color: #fff;
}

#versionBtn:hover {
    color: #3DB1E4;
}

body.dark-mode #versionBtn {
    background-color: #B5B5B5;
    border: 2px solid #1e1e1e;
    background-color: transparent;
    border: transparent;
    color: #fff;
}

body.dark-mode #versionBtn:hover {
    color: #1e1e1e;
}

#num_agent {
    color:#0c419a;
    font-weight: bold;
}

body.dark-mode #num_agent {
    color: #fff;
    font-weight: bold;
}

#nom_agent {
    color:#0c419a;
    position: fixed;
    font-weight: bold;
    bottom: 55px;
    left: 10px;
    margin: 0;
    padding: 0;
}

body.dark-mode #nom_agent {
    color:#fff;
    position: fixed;
    font-weight: bold;
    bottom: 55px;
    left: 10px;
    margin: 0;
    padding: 0;
}


/*  Unclickable label*/

.unclickable-label {
    pointer-events: none;
}
