<footer class="fixed-bottom text-center py-3" id="footer">
    <span id="nom_agent">Connecté en tant que {{ nom_agent }} {{ prenom_agent }}</span>

    <span>&copy; 2023 Tous droits réservés. Designé par MEHAL ESTHER &amp; BUSSU DIEGO.</span>

    <a href= "{{ path('release_notes') }}">
        <button id="versionBtn" title="Version">v1.0</button>
    </a>
</footer>

