{% extends 'base.html.twig' %}

{% block title %}PLADAPATH - Statistiques{% endblock %}

{% block body %}
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script>
            // Données de l'exemple (à remplacer par vos propres données)
            var data = [
                { label: 'Catégorie 1', value: 30 },
                { label: 'Catégorie 2', value: 50 },
                { label: 'Catégorie 3', value: 20 }
            ];

            // Configuration du graphique en anneau
            var width = 400;
            var height = 400;
            var radius = Math.min(width, height) / 2;

            var color = d3.scaleOrdinal(d3.schemeCategory10);

            var svg = d3.select('#doughnut-chart-container')
                .append('svg')
                .attr('width', width)
                .attr('height', height)
                .append('g')
                .attr('transform', 'translate(' + width / 2 + ',' + height / 2 + ')');

            var arc = d3.arc()
                .innerRadius(radius - 100)
                .outerRadius(radius);

            var pie = d3.pie()
                .value(function(d) { return d.value; })
                .sort(null);

            var path = svg.selectAll('path')
                .data(pie(data))
                .enter()
                .append('path')
                .attr('d', arc)
                .attr('fill', function(d, i) {
                    return color(i);
                });
        </script>
    {% endblock %}

    <!-- BOUTTONS DE NAVIGATIONS DES VERSIONS -->
    <div class="container mt-5">
        <div class="buttons d-flex justify-content-center nav mb-3">
            <button data-id="1" class="button active">Statistiques</button>
            <button data-id="2" class="button active">Graphiques</button>
        </div>
    </div>

    <!-- Statistiques -->
    <div class="container content-panel" id="1">
        <div class="row justify-content-center">
            <div class="scroll-setting">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Ajouté le</th>
                            <th scope="col">Fonctionnalité</th>
                            <th scope="col">Correction de bug</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <!-- Autres lignes de données -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Graphiques -->
    <div class="container content-panel" id="2">
        <div class="row justify-content-center">
            <div id="doughnut-chart-container" style="width: 400px; height: 400px;"></div>
        </div>
    </div>
{% endblock %}

