{% extends 'base.html.twig' %}

{% block title %}Modifiier un process{% endblock %}

{% block body %}

    <button class="returnToSettingButton button">
        <a style="color:#fff" href="{{ path('setting') }}">Retour</a>
    </button>

    <div class="container">
        <section class="row justify-content-center">
            <div class="col-md-6 text-center col-form-label">  
              
                <h2>Modifier un Process</h2>

                {{ form_start(form, {'attr': {'class': 'd-inline-block mt-4 col-form-label'}}) }}
                    {{ form_widget(form) }}
                    <button type="submit"  class="button" onclick="return confirmModify();">Modifier</button>
                {{ form_end(form) }}
            </div>
        </section>
    </div>

    <script>
        function confirmModify() {
            return confirm("Êtes-vous sûr de vouloir modifier ce process ?");
        }
    </script>
{% endblock %}
